@page
@model FinalProject.Pages.ContactusModel
@{
}

<body style="font-family:Cambria; color:black;">
    <style>
        h1 {
            color: brown;
            font-size: x-large;
        }

        h2 {
            color: coral;
            font-size: xx-large;
        }
    </style>

    <h1 class="heading">Contact Us</h1>


    <h2 class="heading--sub">(800) 962-2277</h2><a href="/sellacar/" class="text link link--orange link--inline">Are You Trying to Sell Your Car?</a>


    <div id="pypc_formContainer">
        <div class="pypc_load"><span></span></div>
        <div class="pypc_formItem">
            <label for="pypc_chooseLocation" class="label--blue">Please Select a Location</label>
            <select name="dnn$ctr419$View$pypc_chooseLocation" id="pypc_chooseLocation" class="pyp_select" required="required">
                <option value="0">Please Select a Location</option>
                <option value="223">Pick Your Part - Huntsville</option>
                <option value="265">Pick Your Part - Anaheim</option>
                <option value="260">Pick Your Part - Bakersfield</option>
                <option value="264">Pick Your Part - Chula Vista (East)</option>
                <option value="283">Pick Your Part - Chula Vista (West)</option>
                <option value="285">Pick Your Part - Fontana</option>
                <option value="292">Pick Your Part - Hesperia</option>
                <option value="281">Pick Your Part - Monrovia</option>
                <option value="286">Pick Your Part - Oceanside</option>
                <option value="280">Pick Your Part - Ontario</option>


            </select>
        </div>
        <div class="form-item">
            <label for="pypc_fname" class="label--blue">First Name*</label>
            <input id="pypc_fname" class="pyp_input" type="text" placeholder="First Name*" tabindex="0" maxlength="25" pattern="[A-Za-z ]+" title="Please Enter Your First Name" required>
        </div>

        <div class="form-item">
            <label for="pypc_lname" class="label--blue">Last Name*</label>
            <input id="pypc_lname" class="pyp_input" type="text" placeholder="Last Name*" tabindex="0" maxlength="25" pattern="[A-Za-z ]+" title="Please Enter Your Last Name" required>
        </div>

        <div class="form-item">
            <label for="pypc_phone" class="label--blue">Phone Number</label>
            <input id="pypc_phone" class="pyp_input" type="text" placeholder="Phone Number" tabindex="0" maxlength="25" pattern="[()0-9-]{10,}" title="Please Enter a 10 Digit Phone Number">
        </div>

        <div class="form-item">
            <label for="pypc_email" class="label--blue">Email</label>
            <input id="pypc_email" class="pyp_input" placeholder="Email" type="text" tabindex="0" maxlength="320" title="Please Enter Your Email Address">
        </div>
        <div class="form-item">
            <label for="pypc_message" class="label--blue">Message*</label>
            <textarea id="pypc_message" class="pyp_input" placeholder="Message*" tabindex="0" maxlength="500" title="Please Enter a Message" required></textarea>
        </div>
        <div class="form-item">
            <button id="pypc_submit" class="button" type="submit" tabindex="0">Send</button>
        </div>
    </div>

    </body>
