@page
@model FinalProject.Pages.HelpModel
@{
}


<body style="font-family:Cambria; color:black;">
    <style>
        h1 {
            color: coral;
            font-size: x-large;
        }

        h2 {
            text-align: center;
            color: brown;
            font-size: xx-large;
        }
        }
    </style>

    <h1>How to navigate our website?</h1>
    <div class="text-left">
        <div class="text-left">
            <h2>Step 1<br></h2>
        </div>
        

        <div class="text-left">
            <p><br>Contact our Administrator to create an ID for you. <br>
            Login into your account.<br>

        </p>
        </div>
        <div class="border"><img src="/Photos/2021-10-09 (2).png" height="200" width=auto></div>
        <p><br /><br /><br /></p>

    </div>

    <div class="text-left">
        <div class="text-left">
            <h2>Step 2<br></h2>
        </div>

        <div class="text-left">
        <p>
            <br>If you want to sell your car, login to your account and go to "Sell your car" OR <br>
            if you need a car part, go to "Find car part" and browse list of parts
        </p>
        </div>


        <div class="border"><img src="/Photos/photo2.png" height="200" width=auto><br /></div>
        <div class="border"><img src="/Photos/photo3.png" height="200" width=auto><br /></div>
        <div class="border"><img src="/Photos/photo4.png" height="200" width=auto><br /></div>
        <div class="border"><img src="/Photos/photo6.png" height="200" width=auto><br /></div>
        <p><br /><br /><br /></p>
    </div>

    <div class="text-left">

        <div class="text-left">
            <h2>Step 3<br></h2>
        </div>

        <div class="text-left">
        <p>
            <br>Book an appointment with us to proceed with payment and documentation.<br />
        </p>
        </div>

        <div class="border"><img src="/Photos/photo5.png" height="200" width=auto><br /></div>
        <p><br /><br /><br /></p>
        </div>

    <section class="section section--header-width" name="faq">
        <h2 class="heading--lead text--blue text--center"> Frequently Asked Questions</h2>
        <div class="pypsacl_questions">
            <div class="pypsacl_question">
                <div class="pypsacl_q text--large"> 1.How much can I get for my junk car?</div>
                <div class="pypsacl_a text"> &nbsp &nbsp UC Garage pays the most for your vehicle. Just fill out our short, free, no obligation, online form and see instantly how much we will pay you for your vehicle.<br> </div>
            </div>
            <div class="pypsacl_question">
                <div class="pypsacl_q text--large"> 2.What if my car has been damaged in an accident?</div>
                <div class="pypsacl_a text"> &nbsp &nbsp We will buy any car regardless if it has been in an accident. There may be deductions based upon the size and nature of the damage. Get a free instant quote now &nbsp &nbsp &nbsp to see how much you can get!<br> </div>
            </div>
            <div class="pypsacl_question">
                <div class="pypsacl_q text--large"> 3.What if my car is in bad shape or has very high mileage?</div>
                <div class="pypsacl_a text"> &nbsp &nbsp As we are automotive recyclers, we are able to buy your car in any condition and put it to good use by recycling parts, fluids and raw materials.<br> </div>
            </div>
            <div class="pypsacl_question">
                <div class="pypsacl_q text--large"> 4.What paperwork will I need to junk my car?</div>
                <div class="pypsacl_a text"> &nbsp &nbsp In most cases you will need a proof of ownership document, such as the vehicle title. We will help with additional paperwork to make the process as seamless as &nbsp &nbsp &nbsp possible.<br> </div>
            </div>
            <div class="pypsacl_question">
                <div class="pypsacl_q text--large"> 5.My car does not run, will you buy it?</div>
                <div class="pypsacl_a text"> &nbsp &nbsp Yes! Though you may receive a deduction depending on what is causing your vehicle to not run, we will pay you top dollar for your car!<br> </div>
            </div>
            <div class="pypsacl_question">
                <div class="pypsacl_q text--large"> 6.How can I get the most for my junk car?</div>
                <div class="pypsacl_a text"> &nbsp &nbsp By bypassing middlemen and working directly with an auto recycler, we are able to likewise bypass costs associated with getting your vehicle and pass them on &nbsp &nbsp &nbsp to you!<br> </div>
            </div>
        </div>
    </section>
</body>
