@page
@model FinalProject.Pages.LocationModel
@{
}
<body style="font-family:Cambria; color:black;">
    <style>
        h1 {
            color: brown;
            font-size: x-large;
        }

        h2 {
            color: coral;
            font-size: xx-large;
        }
    </style>

    <section class="section section--header-width text--center">
        <h1 class="heading--lead text--blue ">Service Areas</h1>
        <img src="https://cdn2.webdamdb.com/1280_YeOamZWaB531.jpg?1613427912" alt="LKQ Pick Your Part Service Areas" width="1200" height="600" loading="lazy">
        <div class="pypsacl_serviceAreasMapText">
            If you're wondering, we're able to purchase your junk car, we have locations all across the country ready to give you the best price You can find our stores in any of these states!
        </div>

        <h2 class="heading--brow pypsacl_areaCollapse">
            Locations By State
            <span class="caret caret--orange flip-180"></span>
        </h2>

        <div class="row">

            <div class="col-sm-4">

                <ul>

                    <li>Alabama</li>

                    <li>California</li>

                    <li>Colorado</li>

                    <li>Florida</li>

                    <li>Georgia</li>
                </ul>
            </div>

            <div class="col-sm-4">
                <ul>
                    <li>Illinois</li>

                    <li>Indiana</li>

                    <li>Kansas</li>

                    <li>Maryland</li>

                    <li>Michigan</li>
                </ul>
            </div>

            <div class="col-sm-4">

                <ul>

                    <li>North Carolina</li>

                    <li>Ohio</li>

                    <li>Oklahoma</li>

                    <li>South Carolina</li>

                    <li>Tennessee</li>

                </ul>
            </div>


        </div>
</body>


