@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body{
        background-color:lavender
    }
         h4 {
        font: bold 20px arial
    }
</style>
<div class="text-center">
    <h1><b>Razor Recruitment</b></h1>
    <p>
        <b>Address:</b> 3241 Jefferson Avenue, Cincinnati OH 45220<br />
        <b>Contact Information:</b> 513-876-908 | abcbearcat@razorrecruitment.com
    </p>

</div>

<picture>
    <img src="https://thumbs.dreamstime.com/b/people-holding-hire-me-many-words-isolated-37470602.jpg" width="1000" height="200" />
</picture>
<p class="h5">
    <h2><b>Who we are?</b></h2>
</p>

<p>
    Razor Recruitment is an award-winning global recruitment business with over 250 staff across 12 locations:<br />
    Cincinnati, Amsterdam, Austin, San Francisco, Brisbane, Bangalore, Dubai, Mumbai, New Jersey, Melbourne, New York, and Sydney.
</p>

<p class="h5">
    <h2><b>What we do?</b></h2>
</p>

<p>
    Our customizable solutions include-
    <ul>
        <li>Access to our candidate resume database of 5M tech professionals.</li>
        <li>Sourcing new opportunities.</li>
        <li>Provide pointers to help candidates prepare for interviews.</li>
        <li>Talent development programs.</li>
    </ul>
</p>

<p class="h5">
    <h2><b>Industry verticals we support-</b></h2>
</p>
<p>
    We deliver excellent candidates for varied roles across-
    <ul>
        <li>Consulting,</li>
        <li>Data Engineering</li>
        <li>Supply Chain</li>
        <li>HR</li>
        <li>Marketing</li>
        <li>Technology</li>
        <li>Operations</li>
    </ul>
</p>
<p class="h5">
    <h2><b>What our clients say?</b></h2>
</p>
<h6><i>Clark Green- Human Resources Manager, Heineken USA</i></h6>
<p>
    I have had the opportunity to work with Razor Recruitment twice and have had the amazing experiences. Sukanya, Dwight and their team are so invested in learning more about not only the companies they partner with but what the hiring managers are specifically seeking in their dream candidates.
</p>
<h6><i>Michael Page- Recruiting Manager, Goldman Sachs</i></h6>
<p>
    Razor Recruitment is dedicated to identifying appropriate qualified individuals for our external audit and tax staffing needs. The recruiters are dedicated to providing a high degree of professionalism.
</p>
<h2><b>Reach out to us on-</b></h2>
<p>
   <a href="https://www.linkedin.com/in/sukanyawadawadagi/">LinkedIN</a> 
   <a href="https://www.instagram.com/">Instagram</a>
   <a href="https://www.facebook.com">Facebook</a>
   <a href="https://www.twitter.com">Twitter</a>
</p>